<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/pygment_trac.css" media="screen" />
    <title>{{ page.title }}</title>
  </head>
  <body>
      {{ content }}
      <footer>
          <div class="cell">
            <span class="label">©Kenshoo Ltd. 2006-2014 All Rights Reserved.</span>
          </div>
          <div>
            <div class="row cell">
              <div>
                <div>
                    <span class="label">Learn about Kenshoo products:</span>
                </div>
                <div class="productWrapper">
                    <a href="http://www.kenshoo.com/products/kenshoo-search/" target="_blank">
                        <div class="productBtn search"></div>
                    </a>
                    <a href="http://www.kenshoo.com/products/kenshoo-local/" target="_blank">
                        <div class="productBtn local"></div>
                    </a>
                    <a href="http://www.kenshoo.com/products/kenshoo-social/" target="_blank">
                        <div class="productBtn social"></div>
                    </a>
                    <a href="http://www.kenshoo.com/products/kenshoo-smartpath/" target="_blank">
                        <div class="productBtn smartpath"></div>
                    </a>
                </div>
              </div>
            </div>
            <div class="row cell right">
                <div>
                    <span class="label">Connect with us:</span>
                </div>
                <div>
                    <div class="connectWrapper">
                        <a href="http://techblog.kenshoo.com/" target="_blank">
                            <div class="socialBtn feed"></div>
                        </a>
                        <a href="https://plus.google.com/+KenshooLTD/" target="_blank">
                            <div class="socialBtn google"></div>
                        </a>
                        <a href="http://www.linkedin.com/company/kenshoo" target="_blank">
                            <div class="socialBtn linkedin"></div>
                        </a>
                        <a href="https://twitter.com/kenshoo" target="_blank">
                            <div class="socialBtn twitter"></div>
                        </a>
                        <a href="https://www.facebook.com/Kenshoo" target="_blank">
                            <div class="socialBtn facebook"></div>
                        </a>
                    </div>
                </div>
            </div>
          </div>
      </footer>
  </body>
</html>
